# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
config.env

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
public/storage/*
!public/storage/.gitkeep

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db 